@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&display=swap');
.hero h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.hero {
  box-sizing: border-box;
  /* Full screen hero section */
  width: 100%;
  min-height: 100dvh;
  background: rgb(12, 62, 62);
  font-family: "Kalnia Glaze";
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1.4;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: center;
}
.hero a {
   font-family: "Kalnia Glaze";
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1.4;
  font-style: normal;
  font-variation-settings: "width" 100;
  text-decoration: underline;
  text-decoration-color: rgb(255, 132, 84);
}

/* A little "activation" to demonstrate JS is working in the template */
.hero {
  transition: background 0.5s;
}
.hero.active {
  background: #c6093b;
}
.hero.active a {
  color: white;
  text-decoration-color: teal;
}

@media (max-width: 800px) {
  .hero {
    font-size: 45px;
  }
}

@media (min-width: 801px) {
  .hero {
    font-size: 75px;
  }
}

