/* There's some sample CSS here which you can use or nuke as you like */
@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&display=swap');
html {  /* Make #id links scroll smoothly */
  scroll-behavior: smooth;
}

body {
  /* Change to something you like, but please do customize the font! */
  font-family: "Kalnia Glaze", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1.4;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* reset default margins */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Customize colors! */
  background: #000000;
  color: #333;
}
h2 {
  color: rgb(255, 132, 84);
  text-decoration: underline;
  text-decoration-color: rgb(26, 168, 168);
  margin-bottom: 8px;
}
p {
  margin-top: 0;
}

main {
  /* Make sure our content can scroll the hero away */
  min-height: 100dvh;
  max-width: 35em; /* choose a width for text */
  line-height: 1.8; /* choose a line spacing */
  font-size: 18px; /* choose a font size */
  margin: 0 auto; /* center the content */
}
 a {
  color: rgb(160, 8, 134);
  font-family: "Poppins";
 }